<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfin.mapper.CourseMapper">
    
    <!--  find course by name  -->
    <select id="findCoursePageByType" resultType="com.myfin.entity.Course">
        SELECT * from Course where course_type = #{courseType} LIMIT #{pageNum}, 4
    </select>


</mapper>
