<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfin.mapper.TransactionMapper">

    <!--  get transaction with page limitation -->
    <select id="findAllTransactionPage" resultType="com.myfin.entity.Transaction">
        SELECT * from Transaction where user_id = #{userId}
         LIMIT #{pageNum}, #{size}
    </select>


    <!--  add a new transaction -->
    <insert id="addTransaction" >
        INSERT INTO Transaction(user_id,
                                transaction_desc,
                                transaction_cost,
                                transaction_type,
                                transaction_datetime)
        values(#{userId}, #{transactionDesc}, #{transactionCost},
        #{transactionType}, #{transactionDatetime})
    </insert>

    <!--  find the newest transaction id  -->
    <select id="findMaxTransactionId" parameterType="Integer" resultType="Integer">
        SELECT max(transaction_id) from Transaction where user_id = #{userId}
    </select>

    <!-- delete transcation information-->
    <delete id = "deleteSpecificTransaction">
        delete from Transaction
        where user_id = #{userId} and transaction_id = #{transactionId}
    </delete>




</mapper>