<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfin.mapper.TransactionMapper">

    <!--  get all income transaction with page limitation -->
    <select id="findIncTransactionPageWithMonth" resultType="com.myfin.entity.TransactionIncome">
        SELECT * from TransactionIncome where user_id = #{userId}
    </select>

    <!--  get all outcome transaction with page limitation -->
    <select id="findOutTransactionPageWithMonth" resultType="com.myfin.entity.TransactionOutcome">
        SELECT * from TransactionOutcome where user_id = #{userId}
    </select>





    <!--  get specific inc transaction type with page limitation -->
    <select id="findSpecificIncTypeTransaction" resultType="com.myfin.entity.TransactionIncome">
        SELECT * from TransactionIncome where user_id = #{userId} and transaction_type = #{transactionType}
            LIMIT #{pageNum}, #{size}
    </select>

    <!--  get specific out transaction type with page limitation -->
    <select id="findSpecificOutTypeTransaction" resultType="com.myfin.entity.TransactionOutcome">
        SELECT * from TransactionOutcome where user_id = #{userId} and transaction_type = #{transactionType}
            LIMIT #{pageNum}, #{size}
    </select>

    <select id="findSpeciIncTransactionPage" resultType="com.myfin.entity.TransactionIncome">
        SELECT * from TransactionIncome where user_id = #{userId} and tran_inc_id = #{tranIncId}
    </select>

    <select id="findSpeciOutTransactionPage" resultType="com.myfin.entity.TransactionOutcome">
        SELECT * from TransactionOutcome where user_id = #{userId} and tran_out_id = #{tranOutId}
    </select>

    <!--  add a new income transaction -->
    <insert id="addIncTransaction" >
        INSERT INTO TransactionIncome(user_id,
                                      tran_inc_desc,
                                      tran_inc_cost,
                                      tran_inc_type,
                                      tran_inc_datetime,
                                      tran_inc_pin,
                                      tran_inc_freq,
                                      tran_inc_dateformat)
        values(#{userId}, #{transactionDesc}, #{transactionCost},
        #{transactionType}, #{transactionDatetime},
               #{transactionPin}, #{transactionFreq}, #{formattedTime})
    </insert>

    <!--  add a new outcome transaction -->
    <insert id="addOutTransaction" >
        INSERT INTO TransactionOutcome(user_id,
                                      tran_out_desc,
                                      tran_out_cost,
                                      tran_out_type,
                                      tran_out_datetime,
                                      tran_out_pin,
                                      tran_out_freq,
                                      tran_out_dateformat)
        values(#{userId}, #{tranOutDesc}, #{tranOutCost},
               #{tranOutType}, #{tranOutDatetime},
               #{tranOutPin}, #{tranOutFreq},  #{formattedTime})
    </insert>


    <!--  find the newest income transaction id  -->
    <select id="findMaxIncTransactionId" parameterType="Integer" resultType="Integer">
        SELECT max(tran_inc_id) from TransactionIncome where user_id = #{userId}
    </select>

    <!--  find the newest outcome transaction id  -->
    <select id="findMaxOutTransactionId" parameterType="Integer" resultType="Integer">
        SELECT max(tran_out_id) from TransactionOutcome where user_id = #{userId}
    </select>


    <!-- delete inc transcation information-->
    <delete id = "deleteIncSpecificTransaction">
        delete from TransactionIncome
        where user_id = #{userId} and tran_inc_id = #{transactionId}
    </delete>


    <!-- delete transcation information-->
    <delete id = "deleteOutSpecificTransaction">
        delete from TransactionOutcome
        where user_id = #{userId} and tran_out_id = #{transactionId}
    </delete>






</mapper>