<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfin.mapper.UserMapper">
    
    <!--  find user information by user ID  -->
    <select id="findUserById" parameterType="Integer" resultType="com.myfin.entity.User">
        select * from user where user_id = #{v}
    </select>

    <!--  add a new user -->
    <insert id="addUser" parameterType="String">
        INSERT INTO user(user_name, user_email) values(#{userName}, #{email})
    </insert>

    <!--  find the newest user id  -->
    <select id="findMaxId" parameterType="Integer" resultType="Integer">
        SELECT max(user_id) from user
    </select>

    <!--  find the user by email address  -->
    <select id="findUserIdByEmail" parameterType="String" resultType="Integer">
        select ifnull(MAX(user_id),0) AS role_id
        from  user
        where  user_email = #{v,jdbcType=VARCHAR}
    </select>

    <!-- update user information-->
    <update id="updateUserProfile" >
        update user
        set user_name = #{Name},
            user_email = #{Email},
            user_gender = #{Gender},
            user_desc = #{Heritage},
            user_phone = #{phoneNumber},
            user_nationality = #{Nationality},
            user_heritage = #{Heritage},
            user_language = #{Language},
            user_address = #{Address}
        where user_id = #{userId}
    </update>

    <!--  add a new user child -->
    <insert id="addUserChild" >
        INSERT INTO UserChild(user_id, user_child_age, user_child_edu)
        values(#{userId}, #{userChildAge}, #{userChildEdu})
    </insert>

    <!--  find the newest user child id  -->
    <select id="findMaxUserChildId" parameterType="Integer" resultType="Integer">
        SELECT max(user_child_id) from UserChild where user_id = #{userId}
    </select>

    <!--  find all user child  -->
    <select id="getUserChild" resultType = "com.myfin.entity.UserChild">
        select * from UserChild where user_id = #{userId}
    </select>

    <!--  find all user child id  -->
    <select id="getUserChildId" resultType = "Integer">
        select user_child_id from UserChild where user_id = #{userId}
    </select>

    <!-- update user child information-->
    <update id="updateUserChildProfile" >
        update UserChild
        set user_child_age = #{userChildAge},
            user_child_edu = #{userChildEdu}
        where user_id = #{userId} and user_child_id = #{userChildId}
    </update>

</mapper>