<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myfin.mapper.UserMapper">
    
    <!--  find user information by user ID  -->
    <select id="findUserById" parameterType="Integer" resultType="com.myfin.entity.User">
        select * from user where user_id = #{v}
    </select>

    <!--  add a new user -->
    <insert id="addUser" parameterType="String">
        INSERT INTO user(user_name, user_email) values(#{userName}, #{email})
    </insert>

    <!--  find the newest user id  -->
    <select id="findMaxId" parameterType="Integer" resultType="Integer">
        SELECT max(user_id) from user
    </select>

    <!--  find the user by email address  -->
    <select id="findUserIdByEmail" parameterType="String" resultType="Integer">
        select ifnull(MAX(user_id),0) AS role_id
        from  user
        where  user_email = #{v,jdbcType=VARCHAR}
    </select>

</mapper>